/*!
Theme Name: chotu
Theme URI: http://zonvoir.com/
Author: zonvoir
Author URI: http://zonvoir.com/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: chotu
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

chotu is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@media only screen and (min-width: 620px ) and (max-width:1000px){
    .mobileView{
        width: 60%;
   } 
  }
  @media only screen and (min-width: 1001px){
  .mobileView{
      width: 30%;
   } 
  }
  .navbar{
    background: rgba(249, 249, 249, 0.5);
    backdrop-filter: blur(5px);
  }
  .iconify{
    position: absolute;
    height:20px;
    width:20px;
    margin-left: 34px;
    margin-top:34px;
    color:#737373;
  }

  .chotu-nav-carousel {
    /*z-index: 99999999999999;*/
    position: relative;
}